<%= form_with(model: palindrome) do |form| %>
  <% if palindrome.errors.any? %>
    <div id="error_explanation">
      <h2>Пожалуйста, исправьте следующие ошибки ввода:</h2>

      <ul>
        <% palindrome.errors[:input].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :input %>
    <%= form.text_field :input %>
  </div>

  <div class="actions">
    <%= form.submit 'Найти' %>
  </div>
<% end %>
