<p id="notice"><%= notice %></p>

<h1>Palindromes</h1>

<table>
  <thead>
    <tr>
      <th>Введено</th>
      <th>Результат</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @palindromes.each do |palindrome| %>
      <tr>
        <td><%= palindrome.input %></td>
        <td><%= palindrome.output %></td>
        <td><%= link_to 'Посмотреть', palindrome %></td>
        <td><%= link_to 'Удалить', palindrome, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ввести новое число', new_palindrome_path %>
