<p id="notice"><%= notice %></p>

<h1>Palindromes</h1>

<p><strong>Вы ввели: </strong>
<%= @palindrome.input %></p>

<%== @view %>

<%= link_to 'На главную', palindromes_path, class: 'btn btn-light btn-sm' %>
<%= link_to 'Ввести новое число', new_palindrome_path, class: 'btn btn-light btn-sm' %>
